<div class="jumbotron">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-3 col-md-offset-1">
                <img ng-src="{{HomeCtrl.home.avatar_url}}" class="img-circle" alt="Pic">
            </div>
            <div class="col-sm-4">
                <p>{{HomeCtrl.home.bio}}</p>
            </div>
        </div>
        <div class="row" ng-if="HomeCtrl.error">
            <div class="col-sm-3 col-md-offset-1">
                <p>{{HomeCtrl.home.error}}</p>
            </div>
        </div>
    </div>
</div>
<div class="nav">
    <div class="row">
        <ul>
            <li>
                <a ui-sref="home">GithubResume</a>
            </li>
            <li>
                <a ui-sref="about">Fork</a>
            </li>
            <li>
                <a ui-sref="#">Pinned</a>
            </li>
            <li>
                <a ui-sref="#">Starred</a>
            </li>
        </ul>
    </div>
</div>
<div class="content">
    <form class="search" ng-submit="HomeCtrl.getUserData(userName)">
        <input type="text" class="input" ng-model="userName" placeholder="Search users ..." />
    </form>
    <div class="resumeReporter">
        <div class="repo_details">
            <span class="label label-primary">{{ HomeCtrl.home.public_repos }} Repos</span>
            <span class="label label-info">{{ HomeCtrl.home.followers }} Followers</span>
            <span class="label label-danger">{{ HomeCtrl.home.following }} Following</span>
        </div>
        <div class="profile">
            <ul>
                <li ng-show="HomeCtrl.home.name" class="list-group-item">
                    <strong>Name: </strong>{{HomeCtrl.home.name}}
                </li>
                <li ng-show="HomeCtrl.home.email" class="list-group-item">
                    <strong>Email: </strong>{{HomeCtrl.home.email}}
                </li>
                <li ng-show="HomeCtrl.home.location" class="list-group-item">
                    <strong>Location: </strong>{{HomeCtrl.home.location}}
                </li>
                <li ng-show="HomeCtrl.home.company" class="list-group-item">
                    <strong>Company: </strong>{{HomeCtrl.home.company}}
                </li>
            </ul>
        </div>
        <div class="repos">
            <h3>UserRepositories <span class="badge">{{HomeCtrl.home.public_repos}}</span></h3>
            <ul>
                <li class="list-group-item" ng-repeat="repo in HomeCtrl.repo">
                    <strong ng-show="repo.name">{{::repo.name}}</strong><span>: {{::repo.description}}</span>
                    <span ng-show="repo.language" class="badge">{{::repo.language}}</span>
                </li>
            </ul>
        </div>
        <!-- <canvas id="doughnut" class="chart chart-doughnut"
            char-data="data" chart-labels="labels">
        </canvas> -->
    </div>
</div>
