.jumbotron {
    margin-bottom: 0px;
    background-color: #21242c;
    color: #fff;
}
.col-sm-4 .img-circle {
    width: 40%;
    position: relative;
    left: 100px;
    border: 5px solid #35393d;
}
.col-sm-4 p {
    padding: 10px;
}
.nav {
    background-color: #2d313a;
    text-align: center;
}
ul {
    list-style: none;
    display: block;
}
.nav ul {
    margin: 0px;
}
.nav li {
    display: inline-block;
}
.nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 24px 30px;
    font-size: 16px;
}
.content {
    padding: 30px 0 65px;
    overflow-x: hidden;
}
.search {
    position: relative;
    max-width: 588px;
    margin: 0 auto 25px;
}
.input {
    width: 100%;
    padding: 8px 15px;
    font-size: 20px;
}
.userList{
    display: none;
}
.resumeReporter {
    margin: 10px 320px 0px 320px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    padding: 0 64px 64px 64px;
}
.repo_details {
    padding: 10px;
}
.repo_details a {
    text-decoration: none;
}
.profile {
    margin: 25px 0px 0px 5px;
}
ul {
    padding: inherit;
}
.footer {
    margin: 50px 0;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #4444;
}
.footer_link a {
    text-decoration: none;
}
#loaderDiv {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1100;
   background-color: white;
   opacity: .6;
}
.ajax-loader {
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -32px; /* -1 * image width / 2 */
   margin-top: -32px; /* -1 * image height / 2 */
   display: block;
}
