.jumbotron {
    margin-bottom: 0px;
    background-color: #21242c;
    color: #fff;
}
.avatar {
    float: left;
    margin-left: 10px;
}
.avatar .img-circle {
    max-width: 30%;
    border-radius: 50%;
    border: 5px solid #35393d;
}
.bio {
    padding: 10px 10px;
}
.bio p {
    color: #57ad68;
    text-align: left;
}
.nav {
    background-color: #2d313a;
    text-align: center;
}
ul {
    list-style: none;
    display: block;
}
.nav ul {
    margin: 0px;
}
.nav li {
    display: inline-block;
}
.nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 24px 30px;
    font-size: 16px;
}
@media screen and (min-width) {
}
.input {
    width: 103%;
    font-size: 20px;
}
.resumeReporter {
    margin: 100px 400px 0px 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    padding: 0 64px 64px 64px;
}
